@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: $color-grey;
  line-height: 1.5;
}

.header {
  position: relative;
  background-image: url(/assets/bg-desktop-light.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 200px;
  // background-size: 100vw; // desktop
  // border: 2px solid red;
}


.app {
  position: absolute;
  border: 2px solid rgb(0, 255, 21);
  top: 5%;
  left: 50%;
  transform: translate(-50%, 120%); 
  width: 90%;
}