@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-400;
  font-size: fs(400);
  color: $color-grey;
  line-height: 1.5;
 
}

body.light {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,230,230,1) 50%, rgba(255,255,255,1) 100%);
}

body.dark {
  background: #25273D;
  background: radial-gradient(circle, #25273D 0%, #1e1f2e 50%, #25273D 100%);

}

h1 {
  letter-spacing: 10px;
  font-weight: $fw-700;
}

.header {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  height: 250px;
  // background-size: 100vw; // desktop
  // border: 2px solid red;

  @include mq(medium) {
    background-position: center;
  background-size: cover;
  }
}

.header.light {
  background-image: url(/assets/bg-desktop-light.jpg);
}

.header.dark {
  background-image: url(/assets/bg-desktop-dark.jpg);
}

::placeholder {
  color:rgb(150, 150, 150);
}

.app {
  padding: 1rem;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 450px;

 
}

.app-inner {
  padding: 0.6rem;
  margin-top: 1.5rem;
  
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.btn-theme-switcher.light{
  background-image: url(/assets/icon-moon.svg);
}

.btn-theme-switcher.dark{
  background-image: url(/assets/icon-sun.svg);
}

.btn-theme-switcher {
  // background-image: url(/assets/icon-moon.svg);
  height: 20px;
  width: 20px;
  padding: 1rem;
  align-self: center;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.task-input-wrapper {
  position: relative;

  &::before {
    position: absolute;
    height: 25px;
    width: 25px;
    content: "";
    border-radius: 50%;
    top: 28%;
    left: 5%;
    border: 1px solid $color-grey;
  }
}

input {
  
  padding: 1.3rem;
  border-radius: 5px;
  padding-left: 4rem;
  border: 0;
  color: $color-grey-dark;

  
}

input[type="checkbox"] {
  appearance: none;
  margin: 0; // not removed via appearance
  // background-color: #fff;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: 1px solid rgba(209, 209, 209, 0.67);
  cursor: pointer;
  transform: translateY(-0.075em);
  
  

    
}
// For gradient css border
// input[type="checkbox"]:before{
//   content: "";
//   position: absolute;
//   z-index: -1;
//   inset: 0;
//   background: var(--c,linear-gradient(to right, #63b4ff, #a057ff));
//   padding: var(--b);
//   border-radius: 50%;
//   mask: 
//    linear-gradient(#000 0 0) exclude, 
//    linear-gradient(#000 0 0) content-box;
  
// }

.tasks.dark {
  background-color: $dark-color-dark-blue;
}

.tasks.light {
  background-color: #FFF;
}

.tasks {
    
  margin-top: 16px;
  border-radius: 10px;
  
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    font-size: 16px;
  }

  &__item-block {
    // padding: 0.3rem;
  }

  &__inner-item-block {
    display: flex;
    justify-content: space-between;
    
  }

  &__inner-item-block.light{
    border-bottom: 1px solid rgb(209, 209, 209);
  }

  &__inner-item-block.dark{
    border-bottom: 1px solid $dark-color-grey-line;
  }

  
  &__left-block-content {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 0 1.5rem 1.2rem;
    gap: 1rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
  }

  &__left-block-content.light{
    background-color: #FFF;
    color: $color-blue;
  }

  &__left-block-content.dark{
    background-color: $dark-color-dark-blue;
    color: $dark-color-dark-text;
  }

  

 
  &__text {
    // margin-left: 1rem;
    cursor: pointer;
  }

  &__btn-delete {
    background-image: url("/assets/icon-cross.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    align-self: center;
    border: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 1.5rem;
  }
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
   
}

input[type="checkbox"]:checked + label.light {
  text-decoration: line-through;
  color: rgba(207, 206, 206, 0.795);
  
}

input[type="checkbox"]:checked + label.dark {
  text-decoration: line-through;
  color: $dark-color-grey-line;
  
}

input[type="checkbox"]:checked {
  background: 
    url('/assets/icon-check.svg') no-repeat center, 
    linear-gradient(to bottom right, #63b4ff, #a057ff);
  background-size: 50%, cover; 
  background-position: center;
  border: none;
  
    
}

.task-field {
  width: 100%;
  font-size: 16px;
  caret-color: $color-blue-cursor;
}

.task-field.light {
background-color: #FFF;
color: rgb(22, 22, 22);
}

.task-field.dark {
  background-color: $dark-color-dark-blue;
  color: $dark-color-dark-text;
}

// BOTTOM BAR MOBILE
.bottom-bar-mobile {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 1.5rem 1.2rem;
   border-radius: 10px;
   color: $color-grey-dark;

   
    
}

#clear {
  transition: 0.2s ease-in-out;
  &:hover {
    color: $color-blue;
    
  }
}


.sorting-bar-mobile {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: $fw-700;
  padding: 1rem;
  border-radius: 10px;

  &__buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  
}

.sorting-bar-mobile.light{
  background-color: #FFF;
  color: $color-grey-dark;

}

.sorting-bar-mobile.dark{
  color:$dark-color-dark-text;
  background-color: $dark-color-dark-blue;
  
}

.sorting-bar-mobile__button {
  transition: 0.2s ease-in-out;

  &:hover {
    color: $color-blue;
    
  }
}

.sorting-bar-mobile__button.active {
  color: $color-blue-cursor;
}


// UTILITY

.btn-remove-style {
  border: 0;
  background-color: transparent;
  color:inherit;
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}